### Excersie: 1
Get all the proper nouns from a given text in a list and also count how many of them.
Proper Noun means a noun that names a particular person, place, or thing.

In [2]:
text = '''Ravi and Raju are the best friends from school days.They wanted to go for a world tour and 
visit famous cities like Paris, London, Dubai, Rome etc and also they called their another friend Mohan to take part of this world tour.
They started their journey from Hyderabad and spent next 3 months travelling all the wonderful cities in the world and cherish a happy moments!
'''

In [4]:
import spacy
nlp = spacy.load("en_core_web_sm")

In [10]:
doc = nlp(text)

proper_nouns = []
for token in doc:
    if token.pos_ == "PROPN":
        proper_nouns.append(token)

print(proper_nouns)

[Raju, Paris, London, Dubai, Rome, Mohan, Hyderabad]

### Excersie: 2
Get all companies names from a given text and also the count of them.
Hint: Use the spacy ner functionality

In [13]:
text1 = '''The Top 5 companies in USA are Tesla, Walmart, Amazon, Microsoft, Google and the top 5 companies in 
India are Infosys, Reliance, HDFC Bank, Hindustan Unilever and Bharti Airtel'''

In [18]:
doc1 = nlp(text1)

#list for storing the company names
all_company_names = []

for ent in doc1.ents:
  if ent.label_ == 'ORG':     #checking the whether token belongs to entity "ORG" [Organisation]
    all_company_names.append(ent)



#finally printing the results
print("Company Names: ", all_company_names)
print("Count: ", len(all_company_names))

Company Names:  [Tesla, Walmart, Amazon, Microsoft, Google, Infosys, Reliance, HDFC Bank, Hindustan Unilever, Bharti Airtel]
Count:  10